language: python

python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'

install:

  - pip install -e .[dev]

services:

  - docker

script:

  - docker run --name selenium-container -d --net host -v /dev/shm:/dev/shm selenium/standalone-chrome
  - make lint
  - make test args='--verbose'

jobs:
  include:
    - stage: tag
      language: generic
      # no install necessary for generic language
      install: false
      script:
        - git config --global user.email "ci@smartcar.com"
        - git config --global user.name "Travis CI User"
        - export tag=$(cat smartcar/__init__.py | grep '^__version__' | sed "s/^__version__[[:blank:]]*=[[:blank:]]'\(.*\)'/\1/g")
        - if [ "$TRAVIS_BRANCH" = "master" ]; then git tag -a v$tag -m "Travis Generated Tag"; fi
      deploy:
        provider: script
        skip_cleanup: true
        script:  echo -e "machine github.com\n  login $CI_USER_TOKEN" >> ~/.netrc && git push origin v$tag
        on:
          branch: master

    - stage: publish
      language: python
      python:
        - '3.6'
      # use 'true' to noop the install and script stageswhich are required for
      # the python language
      install: true
      script: true
      deploy:
        provider: pypi
        user: $PYPI_USERNAME
        password: $PYPI_PASSWORD
        on:
          branch: master
