dist: xenial

services:
  - xvfb

addons:
  firefox: latest
  apt:
    packages: firefox-geckodriver

language: python

python:
  - '3.6'
  - '3.7'
  - '3.8'

if: tag IS blank # do not build tags

install:
  - pip install -e '.[dev]'

script:
  - firefox -headless &
  - make test
  - make format args='--check'

jobs:
  include:
    - stage: publish
      python: '3.8'
      services: []
      addons:
        firefox: 'skip'
        apt: []
      install:
        - nvm install 14
        - npm install semantic-release@15.x.x @google/semantic-release-replace-plugin@1.x.x
      script:
        - npx semantic-release
      deploy:
        provider: pypi
        skip_cleanup: true
        username: $PYPI_USERNAME
        password: $PYPI_PASSWORD
        on:
          branch: master
