dist: xenial

services:
  - xvfb

addons:
  firefox: latest

language: python

python:
  - '3.6'
  - '3.7'
  - '3.8'
  - '3.9'

if: tag IS blank # do not build tags

before_install:
  - wget -N https://github.com/mozilla/geckodriver/releases/download/v0.30.0/geckodriver-v0.30.0-linux64.tar.gz -P ~/
  - tar -xzf ~/geckodriver-v0.30.0-linux64.tar.gz -C ~/
  - rm ~/geckodriver-v0.30.0-linux64.tar.gz
  - sudo mv -f ~/geckodriver /usr/local/share
  - sudo chmod +x /usr/local/share/geckodriver
  - sudo ln -s /usr/local/share/geckodriver /usr/local/bin/geckodriver

install:
  - pip install -e '.[dev]'

script:
  - firefox -headless &
  - make test
  - make format args='--check'

jobs:
  include:
    - stage: publish
      python: '3.8'
      services: []
      addons:
        firefox: 'skip'
        apt: []
      install:
        - nvm install 14
        - npm install semantic-release@15.x.x @google/semantic-release-replace-plugin@1.x.x
      script:
        - npx semantic-release
      deploy:
        provider: pypi
        skip_cleanup: true
        username: $PYPI_USERNAME
        password: $PYPI_PASSWORD
        on:
          branch: master
