<html>
  <head>
    <title>Clean Car!</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class='header'>
      <h1>On Demand Car Cleaning</h1>
    </div>
    <div class="main">
      <h2>Your Cars</h2>
      {% for vehicle in vehicles %}
        <div class="vehicle-row">
          <p>{{ vehicle.info.make + " " + vehicle.info.model }}</p>
          <p>{{ vehicle.location.latitude|string + ", " + vehicle.location.longitude|string }}
          <form action="{{ url_for('schedule') }}" method="post">
            <button type='submit' name='vehicle' value="{{ vehicle.info.id }}" >Schedule Clean!</button>
          </form>
        </div>
      {% endfor %}
    </div>
    <div>
    </div>
  </body>
</html>
